@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 95%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 149 99% 52%;
    --primary-foreground: 149 100% 10%;
    --secondary: 0 0% 98%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 0 0% 90%;
    --muted-foreground: 225.5 8.9% 43.1%;
    --accent: 151 87% 27%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 151 87% 27%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 20% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 20% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 20% 98%;
    --primary: 149 99% 52%;
    --primary-foreground: 149 100% 10%;
    --secondary: 215 28% 17%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 28% 17%;
    --muted-foreground: 218 11% 65%;
    --accent: 151 87% 27%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 149 99% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
